.search-city {
  text-align: left;
}
.form {
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}
.form-control {
  padding: 16px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.fas {
  font-size: 35px;
}
.btn-info {
  margin: 0px 0px 16px 0px;
  font-family: "Montserrat", sans-serif;
  background-color: #0ec4e9;
  border-bottom-color: #0ec4e9;
  border-right-color: #0ec4e9;
  border-left-color: #0ec4e9;
  border-top-color: #0ec4e9;
  border-radius: 8px;
  box-shadow: 2.5px 4px hsl(0, 0%, 0%, 30%);
}
.search-button {
  border-radius: 8px;
  box-shadow: 1px 4px hsl(0, 0%, 0%, 30%);
  display: inline-block;
}
.weather-icon canvas {
  margin: 20px 20px auto;
  display: inline;
}
.weather-today {
  font-size: 80px;
  line-height: 100px;
  margin-top: 20px;
}
h5 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}
.temperature {
  font-size: 30px;
  font-style: normal;
}
.change-units,
.units {
  text-decoration: none;
  font-size: 15px;
  vertical-align: top;
  line-height: 1.2;
  font-style: normal;
  color: #0ec4e9;
}
.change-units:hover {
  text-decoration: underline;
  color: black;
}

.active {
  color: hsl(190, 89%, 48%, 0%);
}
.weather .active:hover {
  color: hsl(190, 89%, 48%, 0%);
  cursor: default;
}
.loading {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.weather {
  text-align: center;
  margin: 10px 10px auto;
}
